page-feedback-positive {




    ion-img{
      vertical-align: middle;

      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      position: center;
      padding-bottom: 68%
    }

    .divImg {

      display: block;
      width: 70%;
      height: 70%;
      text-align: center;
      position: center;
      padding-top: 30%;
      margin-left: 15%;
      align-items: center;
    }





}
