page-master-detail-product {

  .name{
    margin-top: 58% !important;
  }

  .container{
    width: 55%;
    height: 55%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: -48%;
  }

  .barcode{
    margin-top: 6%;
  }

  .has{
    margin-top: 10%;
    margin-bottom: -10%;
  }

  .borders{
    padding: 8%;
  }

  img{
    display: block;
  }

}
